{% extends "layout.html" %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    var new_count = {{ count_entries }}
    $(".delete-button").click(function(){
        var id = $(this).data("id");
        var row = $(this).closest("tr");
        $.ajax({
            method: "POST",
            url: "delete/" + id,
            headers: { "X-CSRFToken": csrf_token },
            success: function(response) {
                if (response.success) {
                    row.remove();
                    new_count -= 1;
                    $("#entries-count").text(new_count);
                } else {
                    alert(response.error);
                }
            },
            error: function(xhr, status, error) {
                alert("Error: " + xhr.statusText);
            }
        });
    });
});
var csrf_token = "{{ csrf_token }}";
</script>
{% endblock %}
{% block title %}Посмотреть позже{% endblock %}
{% block body %}
<h1>Количество неизведанных историй <span id="entries-count">{{ count_entries }}</span></h1>
<table class="table table-sm table-striped table-hover">
    {% for entry in my_list %}
    <tr>
        <td>{{ entry.user }}</td>
        <td>{{ entry.title }}</td>
        <td>{{ entry.medium_type }}</td>
        <td>
            {% for genre in entry.genres.all %}
                {{ genre }}
            {% endfor %}
        </td>
        <td>{{ entry.priority }}</td>
        <td>{{ entry.description }}</td>
        <td>
            <button class="btn btn-sm btn-outline-danger delete-button" data-id="{{ entry.id }}">удалить</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
